In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import scipy as sc

In [2]:
data= pd.read_csv('Week_8_Q&A_dataset - Sheet1.csv')

In [ ]:
# loaded libraries and file to python

# 1. Carry out descriptive analytics on the dataset.

In [3]:
data.head(10)

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21
5  female        completed           40
6    male             none           30
7  female             none           12
8    male             none           18
9    male             none           24

In [4]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [26]:
data.groupby('Gender').count()

        Test preparation  Total Marks
Gender
female                16           16
male                  12           12

In [28]:
data.groupby('Test preparation').count()

                  Gender  Total Marks
Test preparation
completed              7            7
none                  21           21

In [29]:
# total sample size is 28 with Female 16 and Male 12
# out of sample only 7 people completed Test preparation and remaining 21 didnt.
# Avg of sample marks is 32.32 with Sd of 12.45
# min marks scored by a person is 12 and maximum is 50

# 2 Check whether female and male students scored the same marks.

In [5]:
# Hypothesis
# H0: Female and Male score equal marks
# H1: Female and Male does not score equal marks

In [6]:
male= data[data['Gender']=='male']
female= data[data['Gender']=='female']

In [7]:
male = male.drop(['Test preparation','Gender'],axis=1)

In [8]:
female = female.drop(['Test preparation','Gender'],axis=1)

In [9]:
tvalue, pvalue = stats.ttest_ind(male,female)

In [10]:
stats.ttest_ind(male,female)

Ttest_indResult(statistic=array([-0.69408853]), pvalue=array([0.49378223]))

In [11]:
# 2 tail t test since marks can increase or decrease
tcriteria=(stats.t.ppf((0.05/2), 26))

In [12]:
stats.t.ppf((0.05/2), 26)

-2.0555294386428713

In [13]:
if np.abs(tvalue)>np.abs(tcriteria) and pvalue <0.05:
    print('Reject H0: Female and Male score equal marks')
else:
    print('Reject H1: Female and Male does not score equal marks')

Reject H1: Female and Male does not score equal marks

# 3. Whether test preparation helps the students?

In [14]:
# Hypothesis
# Reject H0: Test Preparation help students
# Reject H1:Test Preparation does not help students

In [15]:
tst_complt=data[data['Test preparation']=='completed']
tst_ncomplt=data[data['Test preparation']=='none']

In [16]:
tst_complt

    Gender Test preparation  Total Marks
5   female        completed           40
10    male        completed           44
12    male        completed           43
16  female        completed           48
21    male        completed           44
26  female        completed           50
27  female        completed           43

In [17]:
tst_ncomplt

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
11    male             none           23
13    male             none           28
14  female             none           41
15  female             none           13
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38

In [18]:
tst_complt=tst_complt.drop(['Test preparation','Gender'],axis=1)
tst_ncomplt=tst_ncomplt.drop(['Test preparation','Gender'],axis=1)

In [19]:
tvalue, pvalue = stats.ttest_ind(tst_complt,tst_ncomplt)

In [20]:
stats.ttest_ind(tst_complt,tst_ncomplt)

Ttest_indResult(statistic=array([3.61436375]), pvalue=array([0.00126713]))

In [21]:
tcriteria=stats.t.ppf((1-0.05), 26)

In [22]:
# Right tail test since we are checking marks is increasing
stats.t.ppf((1-0.05), 26)

1.7056179197592727

In [23]:
if (tvalue>tcriteria and pvalue <0.05):
    print('Reject H0: Test Preparation help students')
else:
    print('Reject H1:Test Preparation does not help students')

Reject H0: Test Preparation help students